/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
$red-primary: #e81f1f;
$orange-primary: #e8941e;
$green-primary: #51c742;
$blue-primary: #42acc7;

$blue-secondary: #1f4b7a;

$dim-grey-primary: #37393c;
$dim-grey-secondary:#b1b1b2;
$dim-grey-background : rgb(121, 128, 134);

@font-face { font-family: Gobold; src: url('../fonts/Gobold.otf'); }

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
  }

@mixin transition {

    @for $i from 0 through 4 {
        
        &:nth-child(#{$i}) {

            left: #{($i * 10)}px;

        }
    }
}

body {
    
    background-color: $dim-grey-background;
    width: 100vw;

    .container {

        padding: 0;
        margin: 1vh auto;
        max-width: calc(20vw + 98vh);

        .row {

            margin: 0;

            #sidebar {

                background-color: $dim-grey-primary;
                padding: 0.3em 0.3em 0.3em 0.3em;
                border-radius: 5px 0 0 5px;
                width: 25%;

                .btn-group-block {
                    
                    width: 100%;
                }

                .btn {

                    font-weight: bold;
                    background-color: $dim-grey-primary;

                    &.btn-primary {

                        // Primary varient
                        color: $blue-primary;
                        border-color: $blue-primary;

                        &:hover {

                            // Constant
                            color: $dim-grey-primary;

                            // Primary varient
                            background-color: $blue-primary;

                        }
                    }

                    &.btn-secondary {

                        // Secondary varient
                        border-color: $dim-grey-secondary;
                        color: $dim-grey-secondary;

                        &:hover {

                            // Constant
                            color: $dim-grey-primary;

                            // Secondary varient
                            background-color: $dim-grey-secondary;
                            
                        }
                    }

                    &.btn-success {

                        // Secondary varient
                        border-color: $green-primary;
                        color: $green-primary;

                        &:hover {

                            // Constant
                            color: $dim-grey-primary;

                            // Secondary varient
                            background-color: $green-primary;
                            
                        }
                    }

                    &.btn-danger {

                        // Danger varient
                        border-color: $red-primary;
                        color: $red-primary;

                        &:hover {

                            // Constant
                            color: $dim-grey-primary;

                            // Danger varient
                            background-color: $red-primary;
                        }
                    }
                }

                #sidebar-title {

                    border: 2.3px solid $dim-grey-secondary;
                    border-radius: 5px 0 0 0;
                    margin-bottom: 0.2em;
                    clip-path: polygon(0% 0%, 0% 101%, 101% 100%, 100% 0%);

                    h3 {

                        font-family: Gobold;
                        color: $dim-grey-primary;
                        text-align: right;
                        margin: 3% .3em 2.7% 0;
                        font-size: 3.8em;
                        line-height: 50%;

                        -webkit-text-stroke: 2.3px $dim-grey-secondary;
                    }

                    #sidebar-buttons-holder {

                        position: relative;
                        
                        div {

                            @include transition;
                            position: absolute;
                            height: 4em;
                            width: 5px;
                            margin-top:-0.5em;
                            transform: skew(-13deg);

                            $colors-list: $red-primary $orange-primary $green-primary $blue-primary;
                            @each $current-color in $colors-list {
                                $i: index($colors-list, $current-color);
                                &:nth-child(#{$i}) {
                                    background: $current-color;
                                }
                            }
                        }
                    }
                }

                #sidebar-content {

                    padding: 0.3em;
                    border: 2.3px solid $dim-grey-secondary;
                    border-radius: 0 0 5px 5px;
                    height: calc(98vh - 3.9em);

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {

                        font-size: 13px;
                        font-style: oblique;
                        margin-bottom: 0.3em;
                        color: lighten($dim-grey-secondary, 7%);
        
                    }

                    #lyrics-text {
            
                        width: 100%;
                        min-height: 15vh;
                        height: 100%;
                        margin-bottom: 0.3em;

                    }

                    #chart_btn {

                        width: 75%;

                    }

                    .btn-group {
                        margin-bottom: 0.3em;

                    }
                }
            }

            #content {

                border-left: 0.25em solid $dim-grey-background;
                background-color: $dim-grey-primary;
                width: 98vh;
                border-radius: 0 5px 5px 0;

                canvas {
                    margin: 0.5rem;

                }
            }
        }
    }
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
     display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


